body {
  font-size: 14px;
  font-family: 'Sono', sans-serif;
}

header {
  text-align: center;
  text-shadow: 2px 2px #807e7e;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  color:#f7acc7;
  
}

.button * {
  display: inline-block;
  width: 151px;
  height: 49px;
  padding: 0px 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: #444444;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 21px;
  margin-top: 20px;
}

.task-creation{
  display: flex;
  flex-direction: column;
  background-color: #cbe8ba;
  padding: 60px;

}

.task-creation h2{
  text-align: center;
  color: white;
  text-shadow: 2px 2px #807e7e;
}

.taskResult{
  background-color: #fad2e0;
  text-align: center;
  height: auto;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  display: flex;
  width: 100%;
}

.card{
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-block: 10px;
  text-align: center;
}

.taskResult h2{
  padding: 40px;
  color: white;
  text-shadow: 2px 2px #807e7e;
}


